<table>
  <tbody>
    <tr *ngFor="let jogo of jogos">
      <td>{{ jogo.id }}</td>
      <td>{{ jogo.idTimeA.nomeSelecao }}</td>
      <td>X</td>
      <td>{{ jogo.idTimeB.nomeSelecao }}</td>
      <td>{{ jogo.dataInicio }}</td>
      <td>{{ jogo.resultado }}</td>
      <button
        [disabled]="jogo.resultado != 'ND'"
        [ngStyle]="
          jogo.resultado != 'ND' ? { cursor: 'default' } : { cursor: 'pointer' }
        "
        (click)="
          update(jogo.id, jogo.idTimeA.nomeSelecao, jogo.idTimeB.nomeSelecao)
        "
        class="btn-update-jogo"
      >
        Alterar resultado
      </button>
    </tr>
  </tbody>
</table>
