<table>
  <thead>
    <tr>
      <th>Seleção A</th>
      <th>Seleção B</th>
      <th>Data da Partida</th>
      <th>Vencedor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jogo of jogos">
      <td>{{ jogo.idTimeA.nomeSelecao }}</td>
      <td>{{ jogo.idTimeB.nomeSelecao }}</td>
      <td>{{ jogo.dataInicio }}</td>
      <td>{{ jogo.resultado }}</td>
      <button
        (click)="
          update(jogo.id, jogo.idTimeA.nomeSelecao, jogo.idTimeB.nomeSelecao)
        "
        class="btn-update-jogo"
      >
        Alterar resultado
      </button>
    </tr>
  </tbody>
</table>
