<h2>Minhas apostas</h2>
<div class="my-gambles mt-3">
  <table>
    <tr *ngFor="let aposta of apostas">
      <td>Feita em: {{ aposta.dataDaAposta }}</td>
      <td>
        <img src="{{ aposta.idJogo.idTimeA.brasao }}" class="brasao-flag" />
        X
        <img src="{{ aposta.idJogo.idTimeB.brasao }}" class="brasao-flag" />
      </td>
      <td *ngIf="aposta.apostouEm == 'A'">
        Apostou em:
        <img src="{{ aposta.idJogo.idTimeA.brasao }}" class="brasao-flag" />
      </td>
      <td *ngIf="aposta.apostouEm == 'B'">
        Apostou em:
        <img src="{{ aposta.idJogo.idTimeB.brasao }}" class="brasao-flag" />
      </td>
      <td *ngIf="aposta.apostouEm == 'E'">
        Apostou em: <span style="font-weight: 500">Empate</span>
      </td>
      <td *ngIf="aposta.idJogo.resultado == 'ND'" style="font-weight: 500">
        Resultado: A decidir
      </td>
      <td *ngIf="aposta.idJogo.resultado == 'A'" style="font-weight: 500">
        Resultado:
        <img src="{{ aposta.idJogo.idTimeA.brasao }}" class="brasao-flag" />
      </td>
      <td *ngIf="aposta.idJogo.resultado == 'B'" style="font-weight: 500">
        Resultado:
        <img src="{{ aposta.idJogo.idTimeB.brasao }}" class="brasao-flag" />
      </td>
      <td *ngIf="aposta.idJogo.resultado == 'E'" style="font-weight: 500">
        Resultado: Empate
      </td>
      <td
        *ngIf="
          aposta.idJogo.jaAconteceu == true &&
          aposta.apostouEm == aposta.idJogo.resultado
        "
        style="
          background-color: rgb(31, 233, 31);
          color: rgba(255, 255, 255, 0.898);
          font-weight: bold;
        "
      >
        Aposta ganha
      </td>
      <td
        *ngIf="
          aposta.idJogo.jaAconteceu == true &&
          aposta.apostouEm != aposta.idJogo.resultado
        "
        style="background-color: red; color: white; font-weight: bold"
      >
        Aposta perdida
      </td>
      <td
        *ngIf="aposta.idJogo.jaAconteceu == false"
        style="background-color: rgb(229, 229, 14); font-weight: bold"
      >
        Aguardando resultado da partida
      </td>
    </tr>
  </table>
</div>
