<div class="container">
  <h2>Redefina sua senha</h2>
  <form
    [formGroup]="resetSenha"
    (submit)="
      mudarSenha(
        resetSenha.controls['novaSenha'].value,
        resetSenha.controls['tokenSenha'].value
      )
    "
  >
    <mat-form-field appearance="fill">
      <mat-label>Insira sua nova senha</mat-label>
      <input
        autofocus
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="novaSenha"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Token de identificação</mat-label>
      <input matInput formControlName="tokenSenha" required />
    </mat-form-field>
    <button [disabled]="resetSenha.invalid" type="submit" class="btn btn-send">
      confirmar
    </button>
  </form>
</div>
