<div class="container">
  <h2>Recupere sua senha</h2>
  <p>
    Insira seu e-mail cadastrado para receber seu link para redefinição da
    senha.
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Insira seu email aqui</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      required
    />
    <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
  <button (click)="resetSenha()" type="button" class="btn btn-send">
    Enviar
  </button>
  <p class="mt-3">Link enviado com sucesso!</p>
  <p>
    Não recebeu? Clique <button class="btn-resend">aqui</button> para reenviar.
  </p>
</div>
