<div class="top-3-users mt-5">
  <div class="user-pic">2</div>
  <div class="user-pic">1</div>
  <div class="user-pic">3</div>
</div>

<table class="mt-4">
  <thead>
    <tr>
      <th>º</th>
      <th>Username</th>
      <th>Pontos</th>
      <th>Apostas certas</th>
      <th>Apostas erradas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Luanmxz</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Teste</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
