:host {
  grid-column: 2;
  display: grid;
  min-height: 100vh;
}

table {
  display: block;
  justify-self: center;
  align-self: flex-start;
  text-align: center;
  background-color: var(--color-3);
  border-radius: 10px;
  overflow: auto;
  margin-top: 1rem;
}

table th,
td {
  padding: 1rem 5rem;
  border-bottom: 2px double black;
}
table th {
  background-color: var(--color-2);
}
table th:first-child {
  border-top-left-radius: 10px;
}
table th:last-child {
  border-top-right-radius: 10px;
}
table td {
  border-right: 3px double black;
  text-align: center;
}
table td:last-child {
  border-right: none;
}

@media screen and (max-width: 700px) {
  :host {
    grid-column: 1;
    grid-row: 2;
  }

  table {
    margin-left: 1rem;
  }

  table th,
  td {
    padding: 0.5rem 1rem;
    border-bottom: 2px double black;
  }
}
