<table>
  <thead>
    <tr>
      <th>Seleção</th>
      <th>Pontos</th>
      <th>Jogos</th>
      <th>Gols</th>
      <th>Vitórias</th>
      <th>Derrotas</th>
      <th>Empates</th>
      <th>Grupo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let selecao of selecoes">
      <td>{{ selecao.nomeSelecao }}</td>
      <td>{{ selecao.pontos }}</td>
      <td>{{ selecao.jogos }}</td>
      <td>{{ selecao.gols }}</td>
      <td>{{ selecao.vitorias }}</td>
      <td>{{ selecao.derrotas }}</td>
      <td>{{ selecao.empates }}</td>
      <td>{{ selecao.grupo.nomeGrupo }}</td>
    </tr>
  </tbody>
</table>
