:host {
  grid-column: 2;
  display: grid;
  min-height: 100vh;
}

table {
  display: block;
  width: 90%;
  overflow-x: auto;
  margin-top: 1rem;
  justify-self: center;
  align-self: center;
  background-color: var(--color-3);
  border-radius: 10px;
}

table th,
td {
  padding: 1rem 2rem;
  border-bottom: 1px solid black;
  text-align: center;
}
table th {
  background-color: var(--color-2);
}
table th:first-child {
  border-top-left-radius: 10px;
}
table th:last-child {
  border-top-right-radius: 10px;
}
table td {
  border-right: 1px solid black;
  text-align: center;
}
table td:first-child {
  text-align: justify;
}

img.brasao-flag {
  width: 60px;
  height: 40px;
  border: 1px solid black;
}

@media screen and (max-width: 700px) {
  :host {
    grid-column: 1;
    grid-row: 2;
  }

  table {
    margin-left: 1rem;
  }

  table th,
  td {
    padding: 0.5rem 0.7rem;
    overflow: auto;
  }
}
