<table>
  <thead>
    <tr>
      <th>º</th>
      <th>Seleção</th>
      <th>Pontos</th>
      <th>Jogos</th>
      <th>Vitórias</th>
      <th>Derrotas</th>
      <th>Gols</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Brasil</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Catar</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
