footer {
  height: 25vh;
  background-color: #00c6ae;
  color: var(--color-principal);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: auto;
}

footer button {
  padding: 1rem 3rem;
  border-radius: 3rem;
  background-color: var(--color-principal);
  color: white;
  margin-top: 2rem;
}
