<h2>Faça sua aposta</h2>

<form [formGroup]="novaApostaForm" (ngSubmit)="save()">
  <!-- select da categoria da task -->
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Palpite</mat-label>
    <mat-select formControlName="apostouEm">
      <mat-option [value]="nomeSelecaoA">
        {{ nomeSelecaoA }}
      </mat-option>
      <mat-option [value]="empate">
        {{ empate }}
      </mat-option>
      <mat-option [value]="nomeSelecaoB">
        {{ nomeSelecaoB }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="buttons">
    <button
      class="back_button fa-3x back_button"
      type="button"
      [mat-dialog-close]="true"
    >
      <i class="fa-solid fa-circle-arrow-left"></i>
    </button>
    <button
      *ngIf="novaApostaForm.valid"
      [mat-dialog-close]="true"
      cdkFocusInitial
      class="update_button"
      type="submit"
    >
      Salvar
    </button>
  </div>
</form>
