.container {
  width: 100%;
  min-height: 100%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 85%;
  align-items: center;
  /*border: 2px solid green;*/
}

.wrapper-for-grupos {
  display: flex;
  flex-direction: row;
  gap: 1%;
  align-self: flex-start;
}

.btn-grupos {
  width: 120px;
  background-color: var(--color-2);
  color: whitesmoke;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.wrapper-for-jogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.card-for-jogo {
  width: 320px;
  height: 360px;
  background-color: #e87d7d;
  display: grid;
  grid-template-rows: 35% 65%;
}

.card-header {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.card-body {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn-aposta {
  padding: 1rem 2rem;
  background-color: white;
}

.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/*:host::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
:host::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
:host::-webkit-scrollbar-thumb {
  background: #c34b4b;
  border: 0px none #ffffff;
  border-radius: 50px;
}
:host::-webkit-scrollbar-thumb:hover,
:host::-webkit-scrollbar-thumb:active {
  background: #e87d7d;
}

:host::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
:host::-webkit-scrollbar-track:hover {
  background: #666666;
}
:host::-webkit-scrollbar-track:active {
  background: #333333;
}
:host::-webkit-scrollbar-corner {
  background: transparent;
}
*/
