:host {
  grid-column: 2;
  padding-top: 1.5rem;
}

.wrapper-for-grupos {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  gap: 5px;
  padding-bottom: 20px;
}

.btn-grupos {
  width: 120px;
  color: whitesmoke;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  background: rgb(0, 198, 174);
  background: -moz-linear-gradient(
    274deg,
    rgba(0, 198, 174, 1) 0%,
    rgba(6, 147, 130, 1) 74%,
    rgba(1, 125, 110, 1) 100%
  );
  background: -webkit-linear-gradient(
    274deg,
    rgba(0, 198, 174, 1) 0%,
    rgba(6, 147, 130, 1) 74%,
    rgba(1, 125, 110, 1) 100%
  );
  background: linear-gradient(
    274deg,
    rgba(0, 198, 174, 1) 0%,
    rgba(6, 147, 130, 1) 74%,
    rgba(1, 125, 110, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c6ae",endColorstr="#017d6e",GradientType=1);
}

.wrapper-for-jogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.card-for-jogo {
  width: 320px;
  height: 460px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 35% 65%;
  color: var(--color-3);
  background: rgb(0, 198, 174);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 198, 174, 1) 0%,
    rgba(6, 147, 130, 1) 51%,
    rgba(0, 80, 71, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 198, 174, 1) 0%,
    rgba(6, 147, 130, 1) 51%,
    rgba(0, 80, 71, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 198, 174, 1) 0%,
    rgba(6, 147, 130, 1) 51%,
    rgba(0, 80, 71, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c6ae",endColorstr="#005047",GradientType=1);
}

.card-header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
}

.card-body {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn-aposta {
  width: 90%;
  padding: 1rem;
  background-color: white;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 29px 7px rgba(0, 198, 174, 0.34);
  -moz-box-shadow: 0px 0px 29px 7px rgba(0, 198, 174, 0.34);
  box-shadow: 0px 0px 29px 7px rgba(0, 198, 174, 0.34);
}
.btn-aposta:hover {
  transform: scale(1.03);
  box-shadow: none;
}

.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
