<aside class="menu">
  <nav>
    <ul class="menu-list">
      <li routerLink="jogos">
        <i class="fa-regular fa-futbol fa-2x"></i>
        <p>Jogos</p>
      </li>
      <li routerLink="tabela-classificacao">
        <i class="fa-solid fa-ranking-star fa-2x"></i>
        <p>Classificação</p>
      </li>
      <li routerLink="ranking">
        <i class="fa-solid fa-medal fa-2x"></i>
        <p>Ranking</p>
      </li>
      <li routerLink="minhas-apostas">
        <i class="fa-solid fa-dice-d6 fa-2x"></i>
        <p>Minhas apostas</p>
      </li>
      <li routerLink="painel-admin/jogos" *ngIf="currentUser.admin">
        <i class="fa-solid fa-screwdriver-wrench fa-2x"></i>
        <p>Admin</p>
      </li>
      <li (click)="logout()">
        <i class="fa-solid fa-right-from-bracket fa-2x"></i>
        <p>Sair</p>
      </li>
    </ul>
  </nav>
</aside>

<div class="user">
  <div class="username">
    <h6>Meus pontos: {{ currentUser.pontos }}</h6>
    <h3>{{ currentUser.nome }}</h3>
    <img
      src="../../assets/undraw-male-avatar.svg"
      alt="male-avatar"
      class="avatar"
    />
  </div>
</div>

<router-outlet></router-outlet>
