:host {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  margin-top: 10px;
  width: 95%;
  background-color: var(--color-3);
}

th {
  background-color: var(--color-1);
  color: var(--color-3);
}

th,
td {
  padding: 0.2rem 1rem;
}
