:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
}

table {
  display: block;
  background-color: var(--color-3);
  justify-self: center;
  align-self: center;
  text-align: justify;
  margin-top: 30px;
  border-radius: 10px;
  overflow: auto;
}

th {
  background-color: var(--color-1);
  color: var(--color-3);
}
td,
th {
  padding: 0.7rem 0.5rem;
}

td:last-child {
  background-color: var(--color-2);
}

@media screen and (max-width: 700px) {
  table {
    justify-self: flex-start;
    margin-left: 1rem;
  }
}
