<section class="section s-1">
  <img
    class="images i-1"
    src="../../assets/undraw-gameday.svg"
    alt="two soccer fans"
  />

  <h1 class="mb-2">Bolão Copa do Mundo 2022</h1>
  <h2 class="mt-1 mb-2">Qatar</h2>
  <button class="btn btn-play-now mt-2" type="button" (click)="goToBolao()">
    Jogue agora
  </button>
</section>

<section class="section">
  <img
    class="images"
    src="../../assets/undraw-goal.svg"
    alt="A soccer goal image"
  />

  <div class="section-container">
    <h2 class="mb-3">Como funciona?</h2>
    <h3 class="mt-1 mb-1">1 - Escolha um jogo e faça seu palpite.</h3>
    <h3 class="mt-1 mb-1">2 - Aguarde a finalização do jogo.</h3>
    <h3 class="mt-1 mb-1">3 - Cada palpite correto vale 1 ponto!</h3>
    <h3 class="mt-1 mb-1">4 - Acompanhe sua pontuação!</h3>
  </div>
</section>
