<section class="section s-1">
  <img
    class="images i-1"
    src="../../assets/undraw-gameday.svg"
    alt="two soccer fans"
  />

  <h1 class="mb-2">Bolão Copa do Mundo 2022</h1>
  <h2 class="mt-1 mb-2">Qatar</h2>
  <button class="btn btn-play-now mt-2" type="button" (click)="goToBolao()">
    Jogue agora
  </button>
</section>

<section class="section">
  <img
    class="images"
    src="../../assets/undraw-goal.svg"
    alt="A soccer goal image"
  />

  <div class="section-container">
    <h2 class="mb-3">Como funciona?</h2>
    <h3 class="mt-1 mb-1">Regras - Prêmios - Prazos</h3>
    <button class="btn btn-know-more mt-4" type="button">Saiba mais</button>
  </div>
</section>

<section class="section inverse-bg">
  <div class="section-container inverse">
    <h2>Ver tabela de grupos</h2>
  </div>

  <img
    class="images"
    src="../../assets/football-team-2.svg"
    alt="football team"
  />
</section>

<section class="section">
  <img class="images" src="../../assets/graphic.svg" alt="chart" />
  <div class="section-container">
    <h2>Ver estatísticas das seleções</h2>
  </div>
</section>
